body {
    background-color: #f2f0ef;
}

.cell {
    background-color: #ffffff;
  }
  
  .cell:hover {
    background-color: lightgray !important;
  }

.github-icon {
  display: none;
}

@media (min-width: 768px) {
  .github-icon {
    display: block;
  }
}